label {
    font-size: 30px;
}

h1 {
    font-family: 'Alata', sans-serif;
}

.page-header, .form-block {
    padding-left: 0;
}

.post-block {
    margin-top: 0;
    position: relative;
}

.post-text {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    overflow-wrap: break-word;
}

.post-by, .post-name {
    display: inline-block;
}

.post-name {
    font-weight: bold;
}

.btn {
    color: white;
    background-color: rgb(0, 119, 199);
}

.glyphicon-remove {
    color: rgb(0, 119, 199);   
}

.glyphicon-remove:hover, .remove-post:hover, .comment-toggle:hover {
    cursor: pointer;
}

.remove-post, .comment-toggle {
    display: inline-block;
    color: rgb(0, 119, 199);
}

.comment-input {
    display: inline-block;
    position: relative;
    width: 30%;
    margin-left: 0;
}

.comments {
    display: block;
}

.post-comment-btn {
    display: inline-block;
}

.hide {
    display: hidden;
}

.show {
    display: inline-block;
}